---
layout: default
---

<div class="home__avatar">
  <img class="home__avatar__img"
    srcset="/images/avatar/avatar_450w.jpg 450w,
      /images/avatar/avatar_300w.jpg 300w,
      /images/avatar/avatar_150w.jpg 150w"
    sizes="150px"
    src="/images/avatar/avatar_150w.jpg">

  <div class="home__avatar__ground"></div>

  <noscript>
    <style>
      .home__avatar__ground {
        background: #0d9fd8;
      }
    </style>
  </noscript>

  <script>
    var colors = [
      '#f24d8f', // pink
      '#0d9fd8', // blue
      '#8ad749'  // green
    ];

    var colorIndex = Math.floor(Math.random() * colors.length);
    var color = colors[colorIndex];
    
    try {
      if (localStorage.color === color) {
        color = colors[(colorIndex + 1) % colors.length]
      }
    } catch (e) {
    }

    document.querySelector('.home__avatar__ground').style.background = color;

    try {
      localStorage.color = color;
    } catch (e) {
    }
  </script>
</div>

<div>
  <h2 class="home__title">{{ site.title }}</h2>
  <a href="https://github.com/peferron">GitHub</a> /
  <a href="https://www.linkedin.com/in/peferron">LinkedIn</a> /
  <a href="mailto:peferron@gmail.com">peferron@gmail.com</a>
</div>

<ul class="home__posts">
  {% for post in site.posts %}
    <li CLASS="home__post">
      <a href="{{ post.url }}">{{ post.title }}</a><br><span class="date">{% include date.html date=post.date %}</span>
    </li>
  {% endfor %}
</ul>
<br>

<a class="home__rss" href="/feed.xml">Subscribe via RSS</a>
