<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">

  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alegreya:400,400italic,700|Inconsolata:400,700">
  <link rel="stylesheet" href="/css/main.css">

  {% include favicons.html %}
</head>
