.home__avatar__img
  width: 150px
  height: 263px
  display: block

.home__avatar__ground
  height: 0.5em
  // background is randomly set by inline JS.

.home__title
  margin: 2em 0 0

.home__air
  overflow: hidden

.home__air__iframe
  background-color: transparent
  border: 0px none transparent
  padding: 0px
  overflow: hidden
  display: block
  width: calc(100% + 20px)
  min-height: 220px
  margin: 0 0 0 -10px
  opacity: 0

.home__air__iframe--loaded
  transition: opacity 1s ease-out
  opacity: 1

.home__air__caption
  width: 100%

.home__air__caption__links
  white-space: nowrap

.home__posts__list
  display: inline-block
  list-style-type: none
  padding: 0
  margin: 0

.home__post, .home__posts__rss
  margin-top: 1em

.home__posts__rss
  display: block
  font-size: 0.8em
